body{
    background-image: url("/imagen/canton-jipijapa.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}
form{display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 2px;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 45px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    font-family: 'Righteous';
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}