body{
    background-image: url(/imagen/d55d45dddf4764146afdd73dbe366df7_XL.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color: #000000;
}
form {
    background-size: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    max-width: 400px;
    margin: auto;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(9px);

}
input[type="text"], input[type="date"], input[type="time"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #16b13a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    
}
button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    z-index: 10;
    background-color: #08835e;
    z-index: -1;
    transition: 1s;
}


